{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% include "includes/content.html" %}

<style type="text/css">
  .table .thead-light th {
    background-color: #f6f9fc;
    color: black;  
  }  
  .success{
   list-style: none;
   background-color: #2e6da4;
   color: white;
   box-shadow: 12px 12px 12px #e61c66;
   text-align: center;
 }
</style>    
<div class="container-fluid mt--7" style="padding-top:50px"> 
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Borrow Indicator</h3>
              <h5 style="color: red" class="mb-0">Expire in 5 Days</h5>
            </div>                    
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <!-- <th scope="col">Client_Id</th> -->
                <!-- <th scope="col">Paid</th> -->


                <th scope="col">Employee</>
                  <th scope="col">Phone</th>
                  <th scope="col">Tool</th>
                  <th scope="col">Borrowed On</th>
                  <th scope="col"><span style="color: white">.</span>Actions</th>
                </tr>
              </thead>
              <tbody>


                {% for obj in tool_expired %}

                <td>{{ obj.employee.name }}</td>

                <td>
                  {{ obj.employee.phone }}
                </td>

                <td> {{ obj.tool }}</td>

                <td> {{ obj.assign_on }}</td>

                <td>
                <a href="{% url 'release/tool' obj.id %}" style="background-color: #b80000" data-toggle="modal" data-target="#exampleModal1" onClick="getId('{{obj.id}}')" class="btn btn-sm btn-primary"  class="dropdown-item">
                    <span>Release</i></span>
                   </a>
                  </td> 

              
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div> 

      </div>
    </div>
  </div> 
 <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              are you sure! you want to delete this release?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a class="btn  btn-danger" href="" id="release">Release</a>
            </div>
          </div>
        </div>
      </div>
 
 

  <!-- Page content -->
  <div class="container-fluid mt--6" style="padding-top:60px">

    {% include "includes/footer.html" %}

  </div>

  {% endblock content %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}

  <script>
    function getId(id) {
        var a =document.getElementById('release');
        
        a.href = "/dashboard/release/tool/"+id;
    }
  </script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

  {% endblock javascripts %}
