{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% include "includes/content.html" %}
<style>
.form-control {
color: black;   
}  
</style>   
<div class="container-fluid mt--7" style="padding-top:50px"> 
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Add Category</h3>
        </div>
        <div class="card-body">
         <div class="container">
          <form name="myformcont" class="my-2" action="{% url 'category' %}" method="POST">
            {% csrf_token %}
            <!-- <h2 class="text-center">LIC Form</h2> -->
            <div class="row jumbotron">

          <div class="col-sm-12 form-group" style="margin-top: -20px;">
            <label for="name">Category-Type :</label><span class="required"></span>
            <!-- <input type="text" class="form-control" name="category_type" id="name-f" placeholder="Category Type" required>
          </div> -->
           {{form.name}}          
 
      <div class="col-sm-12 form-group mb-0" style="padding-top:25px">
       <button class="btn btn-primary float-right">Submit</button>
     </div>
     
   </div>
 </form>
</div> 
</div>
</div>
</div>
</div>

<div class="container-fluid mt--6" style="padding-top:60px">
      
  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
