{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% include "includes/content.html" %}
<style>
.form-control {
color: black;   
}  
</style>
<div class="container-fluid mt--7" style="padding-top:40px"> 
  div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <h3 class="mb-0">Update Employee</h3>
      </div>
      <div class="card-body">
       <div class="container">
        <form name="myformcont" class="my-2" action="{% url 'update/employee' employee.id %}" method="POST">
          {% csrf_token %}

          <!-- <h2 class="text-center">LIC Form</h2> -->
          <div class="row jumbotron">

            <div class="col-sm-6 form-group" >
              <label for="name">Name :</label><span class="required"></span>
              <!-- <input type="text" class="form-control" name="full_name" id="name-f" placeholder="Full Name" required style="text-transform: capitalize;"> -->
              {{form.name}}
            </div>      

            <div class="col-sm-6 form-group" >
              <label for="name">Email :</label><span class="required"></span>
              {{form.email}}
            </div>
            <br>


            <div class="col-sm-6 form-group" >
              <label for="name">Designation :</label><span class="required"></span>
              {{form.designation}}
            </div> 


            <div class="col-sm-6 form-group" >
              <label for="name">Contact No :</label><span class="required"></span>
              {{form.phone}}
            </div>
            <br>


            <div class="col-sm-6 form-group" >
              <label for="name">Address :</label><span class="required"></span>
              {{form.address}}
            </div> 
 
            <div class="col-sm-12 form-group mb-0">
             <button class="btn btn-primary float-right">Submit</button>
           </div>

         </div>
       </form>
     </div> 
   </div>
 </div>  
</div>
</div>



<div class="container-fluid mt--6" style="padding-top:60px">

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
